<div class="clear-20"></div>
<div class="clear-20"></div>
 <section class="leadership-section">
  <div class="lead-team-bg">

    <div class="container-fluid">
      <h2 class="section-heading">Our Team</h2>
      <div class="row">
        <div class="col-sm-4 div-col">
          <div class="leadership_main">
            <div class="team-card-img">
              <img class="circle-img" src="../../assets/user-1.png" alt="Avatar">
            </div>
            <div class="team-card-text">
              <h3>User</h3>
              <div class="leadership-desig">
              <h4>Angular Devloper</h4>
            </div>
              <div class="scrollbar-one" id="style-1">
                <div class="force-overflow">
                  <p class="faint-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nihil quia aliquid accusantium voluptate? Aliquid laboriosam dolore in molestiae iusto eligendi delectus illo
                     similique omnis nemo autem saepe, nisi vel!.
                  </p>
                </div>
              </div>
              <div class="read-bio scroll-hide-one">
                <span><a (click)="scrollOne()" class="float-shadow">READ FULL BIO</a></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 div-col">
            <div class="leadership_main">
            <div class="team-card-img">
              <img class="circle-img" src="../../assets/user-2.png" alt="Avatar">

            </div>
            <div class="team-card-text">
              <h3>User </h3>
              <div class="leadership-desig">
              <h4>React Devloper</h4>
              </div>
              <div class="scrollbar-two" id="style-2">
                <div class="force-overflow">

                  <p class="faint-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique est dolor iusto sint, animi possimus! Exercitationem laudantium nesciunt, praesentium aliquam minus impedit tenetur perferendis ipsum velit suscipit, numquam, maxime fugit.

                    He is a property enthusiast who is blend of compassionate and enthusiastic team members.

                  </p>
                </div>
              </div>
              <div class="read-bio scroll-hide-two">
                <span><a (click)="scrollTwo()" class="float-shadow">READ FULL BIO</a></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 div-col">
          <div class="leadership_main">
          <div class="team-card-img">
            <img class="circle-img" src="../../assets/user-3.png" alt="Avatar">

          </div>
          <div class="team-card-text">
            <h3>User </h3>
            <div class="leadership-desig">
            <h4>React Devloper</h4>
            </div>
            <div class="scrollbar-two" id="style-2">
              <div class="force-overflow">

                <p class="faint-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique est dolor iusto sint, animi possimus! Exercitationem laudantium nesciunt, praesentium aliquam minus impedit tenetur perferendis ipsum velit suscipit, numquam, maxime fugit.

                  He is a property enthusiast who is blend of compassionate and enthusiastic team members.

                </p>
              </div>
            </div>
            <div class="read-bio scroll-hide-two">
              <span><a (click)="scrollTwo()" class="float-shadow">READ FULL BIO</a></span>
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>

</section>
<div class="clear-20"></div>
