

<section>
  <div class="jumbotron jumbotron-fluid about-us-bg-overlay">


          <div class="container-fluid">
              <div class="about-hero-text white-text">
                  <h1>Thank You</h1>
                  <div class="clear" ></div>
                  <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor laborum a, sed fugit ratione eligendi vel consequatur et corporis sint maiores recusandae repellat accusamus dolorum molestias fuga sapiente unde libero.</h3>

                    </div>

              </div>
      </div>
    </section>

    <!-- =====our story section====== -->
  <section class="section-margin">
  <div class="container-fluid">
    <div class="our-story-section-top-left">
      <a class="home-txt faint-text" [routerLink]="['/home']">Home</a> <b> > </b> <a class="home-txt" href="">About Us</a>

    </div>
    <div class="our-story-div text-center">
    <h2>Demo</h2>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta minima labore ut eos amet, voluptatibus ipsum illo excepturi nostrum atque fugiat nemo eum reiciendis iure doloribus sapiente molestias quaerat tenetur..</h4>
    </div>
  </div>
    </section>



