<!--The content below is only a placeholder and can be replaced.-->
<body>

  <nav class="navbar navbar-dark bg-dark navbar-expand-lg my-Nav" id="navbar-main">
      <div class="container-fluid">

              <a class="navbar-brand" href="#">

                  <img width="199" height="45" src="../assets/logo.png" alt="ToDo">
                </a>
            <button class="navbar-toggler" type="button"
              aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation"
              (click)="isShown = !isShown">
              <span class="navbar-toggler-icon"></span>

            </button>


            <div class="collapse justify-content-end navbar-collapse" [ngClass]="{ 'show': isShown }">
              <ul class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item">
                        <a class="nav-link "  routerLink="/home" routerLinkActive="active" (click)="isShown = true" >Home</a>
                      </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/about-us" routerLinkActive="active" (click)="isShown = true">ABOUT US</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/services" routerLinkActive="active" (click)="isShown = true">SERVICES</a>
                </li>


                <li class="nav-item">
                  <a class="nav-link smooth-scroll-control" href="#news-section-1" routerLinkActive="active" (click)="isShown = true">NEWS</a>

                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink=""  (click)="isShown = true">
                    <img class="call_icon" src="../assets/call-answer.png">
                      1234567890
                  </a>

                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link last" routerLink="/loan-registration" routerLinkActive="active"
                    (click)="isShown = false">LOGIN / SIGN UP</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active" (click)="isShown = false" >Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/about" routerLinkActive="active" (click)="isShown = false" >About</a>
                  </li> -->


              </ul>


        </div>
      </div>
    </nav>

    <router-outlet></router-outlet>

  <footer class="footer-section">
    <div class="container-fluid">
      <div class="footer-logo">
        <img src="../assets/footer-logo.png" alt="ToDo">

      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="footer-title-div">
            <h3>CONTACT US</h3>
          </div>
          <div class="footer-sub-title-div">
              <ul>
                  <li>
                     <a class="hover" href="#.">+91 123456790</a>
                  </li>
                  <li>
                      <a  class="hover" href="#.">admin@gmail.com</a>
                   </li>
                 </ul>
          </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="footer-title-div">
                <h3>CUSTOMER RERVICE</h3>
              </div>

              <div class="footer-sub-title-div">
                  <ul>
                      <li>
                         <a class="hover" href="#.">Blog</a>
                      </li>
                      <li>
                          <a class="hover" href="#.">Ordering & Payment</a>
                       </li>
                       <li>
                          <a class="hover" href="#.">Booking Office</a>
                       </li>
                       <li>
                          <a class="hover" href="#.">Returns</a>
                       </li>

                       <li>
                          <a class="hover" href="#.">FAQ</a>
                       </li>
                   </ul>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="footer-title-div">
                  <h3>INFORMATION</h3>
                </div>
                <div class="footer-sub-title-div">
                    <ul>
                        <li>
                           <a class="hover" href="#.">Our Team</a>
                        </li>
                        <li>
                            <a class="hover" href="#.">Privacy Policy</a>
                         </li>
                         <li>
                            <a class="hover" href="#.">Terms & Conditions</a>
                         </li>
                         <li>
                            <a class="hover" href="#.">Partner with us</a>
                         </li>
                     </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="footer-title-div">
                    <h3>Subscribe to H via Email</h3>
                  </div>
                  <div class="footer-sub-title-div">
                      <ul>
                          <li>
                            <p>
                              We bring to you all type of Demo Classses
                            </p>
                          </li>
                          <li>

                            <input placeholder="Email Address" type="email" class="form-control"  name="email_address">
                            <div class="footer-submit-btn">
                            <button type="button" class="btn comman-btn white-text glow">SUBMIT</button>
                          </div>
                           </li>

                       </ul>
                  </div>
              </div>

      <div class="copy-rigth-div">
          <p>&copy;ToDo 2021</p>
      </div>
      </div>

    </div>

  </footer>

  </body>
