<section>
  <div class="jumbotron jumbotron-fluid services-bg-overlay">


      <div class="container-fluid">
          <div class="about-hero-text white-text">
              <h1 class="service-hero-heading">Services</h1>
              <div class="clear"></div>
              <h3>Good to See You</h3>

          </div>

      </div>
  </div>
</section>



<section class="section-margin">
      <div class="services-bg-clr-section">
          <div class="container-fluid">

              <div class="legal-insurance-main-div">
              <div class="row">
                      <div class="col-12 col-md-6">

                              <div class="service-section-img-type-1">
                                      <img src="../../assets/services-imgs/home-customisation.png" alt="home-customisation.png">
                                    </div>

                      </div>
                      <div class="col-12 col-md-6">
                              <div class="service-section-text-type-1">
                                      <h2 class="text-left">Text 1</h2>
                                      <p class="services-section-p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam rerum ducimus possimus quidem asperiores, aliquam eum rem est quibusdam ipsa optio, recusandae consequatur error? Qui architecto asperiores beatae autem excepturi?.</p>
                                      </div>
                          </div>



              </div>
          </div>


          </div>
      </div>
      </section>

