<section class="featured-section">
  <div class="container-fluid">
    <div class="section-heading">
      <h2>Testing</h2>
    </div>
  <div class="card-deck">

      <div class="card card__one" (click)="CondoRedirect()">
        <img class="card-img-top" src="../../assets/condo.png" alt="Card image cap">
       <div class="img-label-outer white-text">

         <h4 class="left-side-title">House-1</h4>

      </div>

        <div class="card-footer">
            <div class="row" >

                <div class="col-3 col-md-12 vertical-right-border colText">
                    <small class="text-muted">House 2 <br>
                    </small>
                  </div>
                             </div>
        </div>
      </div>

      <div class="card card__one" (click)="CondoRedirect()">
          <img class="card-img-top" src="../../assets/Bunglow.png" alt="Card image cap">
         <div class="img-label-outer white-text">

           <h4 class="left-side-title">House-2</h4>
          <!-- <div class="bottom-left-1"><b>Condo</b></div>
          <div class="bottom-left-2"><b>1 Cr - 2.5 Cr</b></div> -->
        </div>

          <div class="card-footer">
              <div class="row" >

                  <div class="col-3 col-md-12 vertical-right-border colText">
                      <small class="text-muted">House-2 <br>
                      </small>
                    </div>


                </div>
          </div>
        </div>
        <div class="card card__one"  (click)="CondoRedirect()">
            <img class="card-img-top" src="../../assets/Villa.png" alt="Card image cap">
           <div class="img-label-outer white-text">

             <h4 class="left-side-title">House-3</h4>

          </div>

            <div class="card-footer">
              <div class="row" >

                  <div class="col-3 col-md-12 vertical-right-border colText">
                      <small class="text-muted">House <br>
                      </small>
                    </div>


                </div>
          </div>
          </div>
    </div>
  </div>
  </section>
